@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #c8b7a5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 0.001rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

@font-face {
  font-family: "Geosans";
  src: url("./Fonts/GeosansLight.ttf");
}

@font-face {
  font-family: "TheSeasons";
  src: url("./Fonts/TheSeasons/Fontspring-DEMO-theseasons-reg.otf");
}

@font-face {
  font-family: "TheSeasonsIt";
  /* src: url("./fonts/TheSeasons/Fontspring-DEMO-theseasons-lt.otf"); */
  src: url("./Fonts/CormorantGaramond-Regular.ttf");
}
